name: "Deploy base setup"

on:
  push:
    branches:
      - main
      - testing
    paths:
      - inventory/**
      - .github/workflows/ansible-template.yml
      - base-setup.yml
      - templates/dotfiles.yml
      - bootstrap-runner.yml

jobs:
  base-public:
    uses: ./.github/workflows/ansible-template.yml
    with:
      limits: 'all:!A'
      host_labels: ubuntu-latest   # optional, e.g., for self-hosted runner
      runner_path: base-setup.yml
    secrets: inherit

  base-homelab:
    uses: ./.github/workflows/ansible-template.yml
    with:
      limits: 'A'
      host_labels: homelab   # optional, e.g., for self-hosted runner
      runner_path: base-setup.yml
    secrets: inherit